.custom-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 1000;
}

.custom-modal {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    min-width: 300px;
    max-width: 500px;
    height: 100%;
    margin-top: 50px;
    overflow: scroll;
}

.close-btn {
    position: absolute;
    top: 30px;
    right: 12px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
